#file-size-functions {
  bmp-size: 123px 456px;
  gif-size: 123px 456px;
  jpg-size: 123px 456px;
  png-size: 123px 456px;
  psd-size: 123px 456px;
  svg-size: 123px 456px;
  webp-size1: 123px 456px;
  webp-size2: 123px 456px;
}
